<a href="https://colab.research.google.com/github/Rafr0s/Mini-Curso-Data-Science/blob/main/Aula_2_Mini_Curso_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import io

from google.colab import files

In [ ]:
file_uploaded = files.upload()

Saving AB_NYC_2019.csv to AB_NYC_2019.csv

In [ ]:
df = pd.read_csv( io.BytesIO( file_uploaded['AB_NYC_2019.csv'] ) )

In [ ]:
type( df ) # Descobrir o tipo da variável (balde) que guarda algum dado

pandas.core.frame.DataFrame

In [ ]:
df.shape # Descobrir o número de linhas e colunas da planilha de dados

(48895, 16)

In [ ]:
df.head() # Mostra as 6 primeiras linhas da planilha

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [ ]:
df.dtypes # Descobrir o tipo de dados de cada coluna

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [ ]:
df.isna().sum() # Mostra o número de dados vázios que tem na planilha -NA-

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
df.info() # Descobrir informações gerais sobre a planilha de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
#Selecionando colunas em uma planilha

cols = ['host_name', 'price'] #df.loc[linhas, colunas]

df.loc[:, cols]

           host_name  price
0               John    149
1           Jennifer    225
2          Elisabeth    150
3        LisaRoxanne     89
4              Laura     80
...              ...    ...
48890        Sabrina     70
48891        Marisol     40
48892  Ilgar & Aysel    115
48893            Taz     55
48894     Christophe     90

[48895 rows x 2 columns]

In [ ]:
df1 = df.dropna()

In [ ]:
df1.shape

(38821, 16)

In [ ]:
# Respondendo as perguntas de negócios do CEO

# 1. Qual o valor médio do aluguel na cidade de Nova York?

cols2 = ['price']

price = df1.loc[:, cols2]

In [ ]:
np.mean( price )

price    142.332526
dtype: float64

In [ ]:
# 2. Quais os nomes das regiões de Nova York?

cols3 = ['neighbourhood_group']

price = regiao = df1.loc[:, cols3]

np.unique( regiao )

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

In [ ]:
# 3. Qual o valor mais caro do aluguel em NY?

cols2 = ['price']

df1.loc[:, cols2]

np.max( price )

price    10000
dtype: int64